name: Github Actions Practice

on:
  push:
    branches: ['main']

env:
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/ghActionsPractice
  PYTHON_VERSION: '3.10'

jobs:
  ci:
    name: CI - Lint, Test, Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION}}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Lint (ruff or flake8)
        run: |
          pip install ruff
          ruff check .

      - name: Run tests
        run: pytest

      - name: Archive application package
        run: |
          mkdir -p build
          cp -r . build/

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-source
          path: build/

  docker:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: ci

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ env.IMAGE_NAME }}:latest .

      - name: Push Docker image
        run: |
          docker push ${{ env.IMAGE_NAME }}:latest
